labels/*
*.docx
*.png
*.rdf
labels
data
scripts/__pycache__
aiq_env
onto_env
AIQ_In_Cabin_Health_Assessment_Ontology.egg-info
NOTES.md
assets/data
assets/labels
assets/logs
in_cabin_domain.rdf
trial_onto.owl 
trial_onto_1.owl 
updated_ontology.owl 
snapshot.owl 
assets/ontology_photos
assets/ontologies/snapshot_3.owl 
assets/ontologies/snapshot_after_inference 
assets/ontologies/snapshot_after_rules_pre_inference
test/
assets/ontologies/snapshot_after_inference_1.owl 
assets/ontologies/snapshot_after_inference_double_sync.owl 


